<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coleções</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="header-content">
      <h1>Divino Basics</h1>
    </div>
  </header>
    <nav>
      <ul>
        <li><a href="https://wa.me/message/2ANAMSFEO3JWL1">Atendimento ao cliente</a></li>
      </ul>
    </nav>

<body>
  <main>
  {% for sku in skus %}
  <div class="sku">
    <h3><br><br>{{ sku[1] }}<br><br></h3>
    <a href="{{ url_for('product_html', id=sku[0]) }}">
      <img src="{{ 'static/sku_images/' + sku[2] }}" alt="{{ sku[1] }}" width="250">
    </a>
  </div>
  {% endfor %}
  </main>
  <footer>
    <div class="footer-text">
    <h3>Contato</h3>
    <p>Entre em contato comigo pelo Whatsapp (19) 996258380 ou pelo email divino@gmail.com</p>
    </div>
      <div class="footer-text">
        <h3>Redes sociais</h3>
        <ul>
          <li><a href="https://wa.me/message/2ANAMSFEO3JWL1">Whatsapp</a></li>
          <li><a href="https://instagram.com/divinobasics?igshid=MzRlODBiNWFlZA==">Instagram</a></li>
        </ul>
      </div>
      <div class="footer-text">
        <h3>Sobre a Divino</h3>
        <p>Acredito que a autoestima da mulher esteja ligada diretamente ao modo que ela se veste, e quero trazer essa beleza pra fora com as peças da Divino</p>
      </div>
    </footer>
  </body>
</body>
</html>