<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Divino Basics</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="header-content">
      <h1>Divino Basics</h1>
    </div>
  </header>
    <nav>
      <ul>
        <li><a href="https://wa.me/message/2ANAMSFEO3JWL1">Atendimento ao cliente</a></li>
      </ul>
    </nav>

  <main>
    <section class="product-details">
      <div class="product-image">
        <img src="{{ 'static/sku_images/' + data[2] }}" alt="{{ data[0] }}" width="600">
      </div>
      <div class="product-info">
        <h2>{{ data[0] }}</h2>
        <p class="description">{{ data[1] }}</p>
        </div>
      </div>
    </section>
</main>
  <footer>
    <div class="footer-text">
   <h3>Contato</h3>
    <p>Entre em contato comigo pelo telefone (19) 996258380 ou pelo email contato.divinobasics@gmail.com</p>
    </div>
      <div class="footer-text">
        <h3>Redes sociais</h3>
        <ul>
          <li><a href="https://wa.me/message/2ANAMSFEO3JWL1">Whatsapp</a></li>
          <li><a href="https://instagram.com/divinobasics?igshid=MzRlODBiNWFlZA==">Instagram</a></li>
        </ul>
      </div>
      <div class="footer-text">
        <h3>Sobre a Divino</h3>
        <p>Acredito que a autoestima da mulher esteja ligada diretamente ao modo que ela se veste, e quero trazer essa beleza pra fora com as peças da Divino</p>
      </div>
    </footer>
  </body>
</html>